<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="PROJECT" value="twnewa"/>
    <property name="LOGS" value="${user.dir}/logs"/>
    <property name="PATTERN"
              value="%highlight(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1} [%line])- %msg%n%throwable"/>
    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>${PATTERN}</Pattern>
        </layout>
    </appender>
    <!-- Rolling File Appender -->
    <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/${PROJECT}.log</file>

        <!-- Time-Based Rolling Policy -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/${PROJECT}-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory> <!-- Keep logs for the last 30 days -->
        </rollingPolicy>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] [%-5level] [%logger] [%line] - %msg%n%throwable</pattern>
        </encoder>
    </appender>


    <root level="info">
        <appender-ref ref="RollingFile"/>
        <appender-ref ref="Console"/>
    </root>

</configuration>