<head th:fragment="head" xmlns:th="http://www.w3.org/1999/xhtml">
    <title layout:fragment="title">Index</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" th:href="@{/webfonts/favicon.ico}" type="image/x-icon"/>
    <link th:href="@{/css/all.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/semantic.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/vue.dialog.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet" type="text/css">
    <style layout:fragment="style"></style>
    <style>
        .vuetable td {
            text-align: center !important;
            vertical-align: middle !important;
            white-space: nowrap !important;
            text-overflow: ellipsis !important;
        }

        .vuetable th{
            text-align: center !important;
            vertical-align: middle !important;
        }
    </style>
    <script th:src="@{/js/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/js/vendor/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <script th:src="@{/js/lib/vue.js}"></script>
    <script th:src="@{/js/lib/vue-fragment.min.js}"></script>
    <script th:src="@{/js/lib/vuetable.js}"></script>
    <script th:src="@{/js/lib/axios.min.js}"></script>
    <script th:src="@{/js/lib/sockjs.min.js}"></script>
    <script th:src="@{/js/lib/stomp.js}"></script>
    <script th:src="@{/js/lib/moment-with-locales.min.js}"></script>
    <script type="text/javascript">
        const csrfName = "[[${_csrf.headerName}]]"
        const csrfToken = "[[${_csrf.token}]]"
        const contextPath = "[[@{/}]]";
        const principalRoles=  Array.from(["[[${session.SPRING_SECURITY_CONTEXT.authentication.getAuthorities()}]]".replace("[","").replace("]","")])

        axios.defaults.headers.common[csrfName] = csrfToken;

        // 異常處理
        axios.interceptors.response.use(function (res) {
            if(res.request.responseURL.includes('login')){
               location.reload()
            }
            return res;
        });
        Vue.use(Fragment.Plugin)
        Vue.use(Vuetable)
        Vue.component('vuetable-pagination', Vuetable.VuetablePagination)
        Vue.component("vuetable-pagination-dropdown", Vuetable.VueTablePaginationDropDown);
        Vue.component("vuetable-pagination-info", Vuetable.VueTablePaginationInfo);
        Vue.prototype.$http = axios;
        Vue.component('modal', {
            template: '#modal-template'
        })

        Vue.mixin({
          props: {
            appendParams: {
              type: Object,
              default: () => ({})
            },
            perPage:{
              type:Number,
              default:10
            }
          },
          data:function(){
             return {
                 contextPath:contextPath,
                 principalRoles:principalRoles,
             }
          },
          methods: {
                transformData :function(data){
                    var page = data.page
                    var transformed = {}
                    var pageIndex = page.number
                    var total = page.totalElements
                    var pageSize = page.size
                    var from = pageIndex * pageSize + 1
                    var to = (pageIndex +1 ) * pageSize
                    var lastPage = page.totalPages
                    var currentPage = pageIndex +1
                    transformed.data = data.content
                    transformed.pagination = {
                        total: total,
                        per_page: pageSize,
                        current_page: currentPage,
                        last_page: lastPage,
                        next_page_url: this.url,
                        prev_page_url: this.url,
                        from: from,
                        to: to
                   }

                    return transformed
                },onPaginationData:function(paginationData){
                    this.$refs.pagination.setPaginationData(paginationData);
                    this.$refs.paginationInfo.setPaginationData(paginationData);


                },onChangePage(page){
                  this.$refs.vuetable.changePage(page);
                },loadSuccess(res){
                   if(res.request.responseURL.includes('login')){
                         location.href = baseUrl +  "login"
                   }
                }
          },
          computed:{
            isManager(){
                if(this.principalRoles.includes("ROLE_MANAGER")){
                    return true;
                }else{
                    return false;
                }
            },
            isUser(){
                if(this.principalRoles.includes("ROLE_USER")){
                    return true;
                }else{
                    return false;
                }
            }
          }
        })
    </script>



    <script type="text/x-template" id="modal-template">
        <transition name="modal">
            <div class="modal-mask">
                <div class="modal-wrapper">
                    <div class="modal-container w-75 h-100">

                        <div class="modal-header">
                            <div  class="d-flex flex-row-reverse w-100" style="cursor:pointer">
                                <i class="fa-solid fa-xmark" @click="$emit('close')"></i>
                            </div>

                            <slot name="header">

                            </slot>
                        </div>

                        <div class="modal-body h-75">
                            <slot name="body">
                            </slot>
                        </div>

                        <div class="modal-footer">
                            <slot name="footer">

                            </slot>
<!--                            <button class="modal-default-button" @click="$emit('close')">Close</button>-->
                        </div>
                    </div>
                </div>
            </div>

        </transition>
    </script>
</head>