<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" th:fragment="sidebar">


    <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/home}">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3"></div>
    </a>

    <hr class="sidebar-divider"  th:if="${session.isAdmin}">
    <li class="nav-item" th:if="${session.isAdmin}">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#sysManager" aria-expanded="true"
           aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>系統管理</span>
        </a>
        <div id="sysManager" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header"></h6>
                <a class="collapse-item" th:href="@{/userInfo}" id="userInfo">用戶管理</a>
            </div>
        </div>
    </li>

    <hr class="sidebar-divider">
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#psaeManager" aria-expanded="true"
           aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>質檢列表管理</span>
        </a>
        <div id="psaeManager" class="collapse" aria-labelledby="headingTwo" data-parent="#psaeManager">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header"></h6>
                <a class="collapse-item" th:href="@{/qa}" id="qa">質檢列表</a>
            </div>
        </div>



    </li>

<!--    <hr class="sidebar-divider">-->
<!--    <li class="nav-item">-->
<!--        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pqaManager" aria-expanded="true"-->
<!--           aria-controls="collapseTwo">-->
<!--            <i class="fas fa-fw fa-cog"></i>-->
<!--            <span>語音質檢管理</span>-->
<!--        </a>-->
<!--        <div id="pqaManager" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">-->
<!--            <div class="bg-white py-2 collapse-inner rounded">-->
<!--                <h6 class="collapse-header"></h6>-->
<!--                <a class="collapse-item" th:href="@{/pqa}" target="iframeMain">語音質檢查詢</a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </li>-->

    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
    <script type="text/javascript">
        $("a[class='collapse-item']").click(function(e){
           sessionStorage.setItem("id", this.id);
        })
        $(document).ready(function(){
            if(sessionStorage.getItem("id")){
                var _id = sessionStorage.getItem("id")
                $("#" + _id).parent().parent().toggleClass('show')
            }
        })
    </script>
</ul>
