<!DOCTYPE html>
<html layout:decorate="~{fragments/layout}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title layout:fragment="title">時間設定系統</title>
</head>

<body>
<div layout:fragment="content" id="app">

    <form class="" @submit.prevent>
        <div class="form-group">
            <button class="btn btn-success" @click="query"><i class="fa-solid fa-magnifying-glass">查詢</i></button>
            <button class="btn btn-primary" @click="add"><i class="fa-solid fa-circle-plus">新增</i>
            </button>
        </div>



            <div class="form-row col-3">
                <div class="form-group col-md-6">
                    <label for="startDate">查詢開始日期</label>
                    <input type="date" id="startDate" class="form-control"
                           v-model="startDate">
                </div>
                <div class="form-group col-md-6"><label for="endDate">查詢結束日期</label>
                    <input type="date" id="endDate" class="form-control" v-model="endDate">
                </div>
            </div>



        <div class="form-row col-3">
            <label class="form-label">查詢每週某天:</label>
            <select class="custom-select custom-select-sm form-control form-control-sm" v-model="dayOfWeek">
                <option value="">不選擇</option>
                <option value="MONDAY">星期一</option>
                <option value="TUESDAY">星期二</option>
                <option value="WEDNESDAY">星期三</option>
                <option value="THURSDAY">星期四</option>
                <option value="FRIDAY">星期五</option>
                <option value="SATURDAY">星期六</option>
                <option value="SUNDAY">星期日</option>
            </select>
        </div>


    </form>

    <div class="pagination ui basic segment grid">
        <vuetable-pagination-info ref="paginationInfo"></vuetable-pagination-info>

        <vuetable-pagination ref="pagination"
                             @vuetable-pagination:change-page="onChangePage"></vuetable-pagination>
    </div>

    <vuetable ref="vuetable" :api-url="url" :load-on-start="false" :fields="fields" :per-page="perPage"
              :append-params="appendParams" :transform="transformData" @vuetable:load-success="loadSuccess"
              :query-params="{  page: 'pageIndex',perPage:'pageSize',sort:'sort'}" :reactive-api-url="false"
              track-by="id" data-path="data" pagination-path="pagination" :sort-order="sortOrder"
              @vuetable:pagination-data="onPaginationData">

        <div slot="actions" slot-scope="props">

            <button class="btn btn-primary btn-sm" @click="editRow(props.rowData)" title="edit">
                <i class="fas fa-edit">編輯用戶資訊</i>
            </button>

            <button class="btn btn-warning btn-sm"  title="RePassword" @click="rePassword($event,props.rowData)">
                <i class="fa-solid fa-lock">更新用戶密碼</i>
            </button>

            <button class="btn btn-danger btn-sm" @click="deleteRow(props.rowData)" title="delete">
                <i class="fa fa-trash">刪除用戶</i>
            </button>
        </div>
    </vuetable>


    <modal v-if="showModal" @close="showModal = false">

        <form slot="body" class="form" @submit.prevent="save">
            <!-- 設定時間表單 -->
            <div class="card mt-4">
                <div class="card-header bg-primary text-white">新增時間設定</div>
                <div class="card-body">
                    <form id="scheduleForm">

                        <div class="form-row col-6">
                            <div class="form-group col-md-6">
                                <label for="startDate">開始日期(可選):</label>
                                <input type="date" id="startDate" class="form-control"
                                       v-model="dnRoutine.startDate">
                            </div>
                            <div class="form-group col-md-6"><label for="endDate">結束日期(可選):</label>
                                <input type="date" id="endDate" class="form-control" v-model="dnRoutine.endDate">
                            </div>
                        </div>
                        <div class="form-row col-6">

                            <div class="form-group col-md-6">
                                <label class="form-label">開始時間:</label>
                                <input type="time" class="form-control" id="startTime" required
                                       v-model="dnRoutine.startTime">
                            </div>
                            <div class="form-group col-md-6">
                                <label class="form-label">結束時間:</label>
                                <input type="time" class="form-control" id="endTime" required
                                       v-model="dnRoutine.endTime">
                            </div>
                        </div>
                        <div class="form-row col-6">
                            <label class="form-label">每週某天 (可選):</label>
                            <select class="form-select" id="dayOfWeek" v-model="dnRoutine.dayOfWeek">
                                <option value="">不選擇</option>
                                <option value="MONDAY">星期一</option>
                                <option value="TUESDAY">星期二</option>
                                <option value="WEDNESDAY">星期三</option>
                                <option value="THURSDAY">星期四</option>
                                <option value="FRIDAY">星期五</option>
                                <option value="SATURDAY">星期六</option>
                                <option value="SUNDAY">星期日</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">新增</button>
                        <button type="button" class="btn btn-primary" @click="showModal = false">關閉</button>
                    </form>
                </div>
            </div>
        </form>
    </modal>
    <!-- 查詢時間設定 -->


</div>
</body>

<th:block layout:fragment="script">
    <script th:inline="javascript">

        const vue = new Vue({
            el: '#app',
            data: {
                dnRoutine: {
                    startDate: null,
                    endDate: null,
                    startTime: null,
                    endTime: null,
                    dayOfWeek: null,
                },
                startDate:null,
                endDate:null,
                dayOfWeek: null,
                showModal: false,
                fields:[],
                sortOrder : [{field:"Id",direction:"asc"}],
                url: [[@{/dnRoutine}]],
            title: "質檢資料補充",
        },
            methods: {
            click() {
                const config = {
                    url: this.url,
                    method: "get",
                    params: {
                        startTime: this.startTime,
                        endTime: this.endTime
                    }
                }
                this.$refs.confirm.disabled = true;
                this.$http(config).then(res => {
                    if (res.data == "ok") {
                        alert('資料補充成功')
                    }
                }).catch(err => {
                    alert(err)
                }).finally(() => {
                    this.$refs.confirm.disabled = false;
                })
            },
            add() {
                this.showModal = true;
            },
            query(){
                    this.appendParams= {}
                    this.appendParams["startDate"] = this.startDate;
                    this.appendParams["endDate"] = this.endDate;
                    if(this.dayOfWeek) this.appendParams["dayOfWeek"] = this.dayOfWeek;
                    this.$nextTick(function(){
                        this.$refs.vuetable.refresh()
                    });
            }
        },
            mounted: function () {
                var d = new Date()
                this.endDate = moment(d).format('YYYY-MM-DD')
                this.startDate = moment(d).format('YYYY-MM-DD')


            }, updated(){

        }
        })
    </script>
</th:block>

</html>