<!DOCTYPE html>
<html layout:decorate="~{fragments/layout}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title layout:fragment="title">時間設定系統</title>
</head>

<body>
<div layout:fragment="content" id="app">

    <form class="" @submit.prevent>
        <div class="form-group">
            <button class="btn btn-info" @click="query"><i class="fa-solid fa-magnifying-glass">查詢</i></button>
            <button class="btn btn-primary" @click="add"><i class="fa-solid fa-circle-plus">新增</i>
            </button>
        </div>

        <div class="form-row col-3">
            <div class="form-group col-md-6">
                <label for="startDate">查詢開始日期</label>
                <input type="date" id="startDate" class="form-control" v-model="startDate">
            </div>
            <div class="form-group col-md-6"><label for="endDate">查詢結束日期</label>
                <input type="date" id="endDate" class="form-control" v-model="endDate">
            </div>
        </div>



        <div class="form-row col-3">
            <div class="form-group col-md-6">
                <label class="form-label">星期:</label>
                <select class="custom-select custom-select-sm form-control form-control-sm" v-model="dayOfWeek">
                    <option value="">不選擇</option>
                    <option v-for=" h in dayOfWeeks" :value="h.value">{{h.name}}</option>
                </select>
            </div>

            <div class="form-group col-md-6">
                <label class="form-label">線路:</label>
                <select class="custom-select custom-select-sm form-control form-control-sm" v-model="dn">
                    <option value="">不選擇</option>
                    <option v-for=" h in dns" :value="h.value">{{h.name}}</option>
                </select>
            </div>
        </div>

        <div class="form-row col-3">
            <label class="form-label">假期類別:</label>
            <select class="custom-select custom-select-sm form-control form-control-sm" v-model="holidayType">
                <option value="">不選擇</option>
                <option v-for=" h in queryHolidayTypes" :value="h.value">{{h.name}}</option>
            </select>
        </div>
    </form>

    <div class="pagination ui basic segment grid">
        <vuetable-pagination-info ref="paginationInfo"></vuetable-pagination-info>

        <vuetable-pagination ref="pagination" @vuetable-pagination:change-page="onChangePage"></vuetable-pagination>
    </div>

    <vuetable ref="vuetable" :api-url="url" :load-on-start="false" :fields="fields" :per-page="perPage"
              :append-params="appendParams" :transform="transformData" @vuetable:load-success="loadSuccess"
              :query-params="{  page: 'pageIndex',perPage:'pageSize',sort:'sort'}" :reactive-api-url="false" track-by="id"
              data-path="data" pagination-path="pagination" :sort-order="sortOrder"
              @vuetable:pagination-data="onPaginationData">

        <div slot="actions" slot-scope="props">

            <button class="btn btn-primary btn-sm" @click="update(props.rowData)" title="edit">
                <i class="fas fa-edit">編輯</i>
            </button>
            <button class="btn btn-danger btn-sm" @click="deleteRow(props.rowData)" title="delete">
                <i class="fa fa-trash">刪除</i>
            </button>
        </div>
    </vuetable>


    <modal v-if="showModal" @close="showModal = false">

        <form slot="body" class="form" @submit.prevent="save">
            <!-- 設定時間表單 -->
            <div class="card mt-4">
                <div class="card-header bg-primary text-white">新增時間設定</div>
                <div class="card-body">
                    <form id="scheduleForm">

                        <div class="form-row col-6">
                            <div class="form-group col-md-6">
                                <label for="startDate">開始日期(可選):</label>
                                <input type="date" id="startDate" class="form-control" @change="dateChange" v-model="dnRoutine.startDate">
                            </div>
                            <div class="form-group col-md-6"><label for="endDate">結束日期(可選):</label>
                                <input type="date" id="endDate" class="form-control" v-model="dnRoutine.endDate" @change="dateChange">
                            </div>
                        </div>
                        <div class="form-row col-6">

                            <div class="form-group col-md-6">
                                <label class="form-label">開始時間:</label>
                                <input type="time" class="form-control" id="startTime" required
                                       v-model="dnRoutine.startTime">
                            </div>
                            <div class="form-group col-md-6">
                                <label class="form-label">結束時間:</label>
                                <input type="time" class="form-control" id="endTime" required
                                       v-model="dnRoutine.endTime">
                            </div>
                        </div>
                        <div class="form-row col-6">
                            <label class="form-label">星期:</label>
                            <select class="form-control form-control-sm"  v-model="dnRoutine.dayOfWeek" @change="dayOfWeekChange">
                                <option value="">不選擇</option>
                                <option v-for=" h in dayOfWeeks" :value="h.value">{{h.name}}</option>
                            </select>
                        </div>
                        <div class="form-row col-6">
                            <label class="form-label">線路:</label>
                            <select class="custom-select custom-select-sm form-control form-control-sm"
                                    v-model="dnRoutine.dn">
                                <option value="">不選擇</option>
                                <option v-for=" h in dns" :value="h.value">{{h.name}}</option>
                            </select>
                        </div>

                        <div class="form-row col-6">
                            <label class="form-label">假期類別:</label>
                            <select class="form-control form-control-sm"  v-model="dnRoutine.holidayType" required="required">
                                <option value="">不選擇</option>
                                <option v-for=" h in holidayTypes" :value="h.value">{{h.name}}</option>
                            </select>
                        </div>

                        <div class="form-row col-6">
                            <label class="form-label">備註:</label>
                            <input type="text" class="form-control" v-model="dnRoutine.notes">
                        </div>

                        <hr/>
                        <button type="submit" class="btn btn-primary">儲存</button>
                        <button type="button" class="btn btn-info" @click="showModal = false">關閉</button>
                    </form>
                </div>
            </div>
        </form>
    </modal>
    <!-- 查詢時間設定 -->


</div>
</body>

<th:block layout:fragment="script">
    <script th:inline="javascript">

        const vue = new Vue({
            el: '#app',
            data: {
                dnRoutine: {
                    id: null,
                    startDate: null,
                    endDate: null,
                    startTime: null,
                    endTime: null,
                    dayOfWeek: "",
                    dn: "",
                    holidayType:"",
                    notes:"",
                },
                startDate: "",
                endDate: "",
                dayOfWeek: "",
                dn: "",
                holidayType:"",
                showModal: false,
                fields: [{ name: 'id', title: 'ID' ,width: '5%' },
                { name: 'startDate', title: '開始日期' ,width: '7%'}, { name: 'startTime', title: '開始時間',width: '7%' },
                { name: 'endDate', title: '結束日期' ,width: '7%'}, { name: 'endTime', title: '結束時間',width: '7%' },
                { name: 'dayOfWeek', title: '週期' ,width: '7%',formatter(value){
                           if(!value) return value;
                           return vue.dayOfWeeks.find(h=>h.value==value).name
                         }
                },
                { name: 'dn', title: '線路' ,width: '5%' },{ name: 'notes', title: '備註' ,width: '15%' },
                { name: 'holidayType', title: '假期類別',width: '10%',formatter(value){
                        return `${value}_${vue.holidayServiceTypes.find(h=>h.value==value).name}`
                        }
                },
                { name: 'actions', title: 'Actions' }],
                sortOrder: [{ field: "start_date", direction: "desc" }],
                baseUrl: [[@{/dnRoutine}]],
                url: null,
                holidayServiceTypes:[],
                dayOfWeeks:[],
                dns:[],
                holidayTypes:[],
                queryHolidayTypes:[],
                method: null,
            },
            methods: {
                add() {
                    this.showModal = true;
                    this.method = 'post'
                    for (let value in this.dnRoutine) {
                        this.dnRoutine[value] = ""
                    }
                },
                update(rowData) {

                    this.showModal = true;
                    this.method = 'put'
                    this.dnRoutine.id = rowData.id;
                    this.dnRoutine.startDate = rowData.startDate;
                    this.dnRoutine.endDate = rowData.endDate;
                    this.dnRoutine.startTime = rowData.startTime;
                    this.dnRoutine.endTime = rowData.endTime;
                    this.dnRoutine.dn = rowData.dn ==null ? "" : rowData.dn;
                    this.dnRoutine.dayOfWeek = rowData.dayOfWeek ==null ? "" : rowData.dayOfWeek;
                    this.dnRoutine.notes = rowData.notes;

                    if(rowData.dayOfWeek ==null){
                      this.getHolidayTypes('type');
                    }else{
                      this.getHolidayTypes('peak');
                    }
                    this.dnRoutine.holidayType = rowData.holidayType;
                },
                deleteRow(rowData) {
                    if(confirm("是否刪除")){
                        this.method = "delete"
                        this.dnRoutine.id = rowData.id;
                        this.dnRoutine.startDate = rowData.startDate;
                        this.dnRoutine.endDate = rowData.endDate;
                        this.dnRoutine.dayOfWeek = rowData.dayOfWeek;
                        this.save()
                    }
                },
                save() {
                    let _dnRoutine = this.dnRoutine;

                    if ( (_dnRoutine.startDate && !_dnRoutine.endDate) || (!_dnRoutine.startDate && _dnRoutine.endDate) ) {
                        alert('請輸入開始或結束日期')
                        return
                    }

                    if (_dnRoutine.startDate && _dnRoutine.endDate && _dnRoutine.dayOfWeek) {
                        alert('請擇一選擇日期或是週期')
                        return
                    }

                    if (!_dnRoutine.startDate && !_dnRoutine.endDate && !_dnRoutine.dayOfWeek) {
                        alert('請選擇日期或是週期')
                        return
                    }

                    if(!_dnRoutine.dayOfWeek) {
                        _dnRoutine.dayOfWeek=null
                    }

                    const config = {
                        url: this.baseUrl,
                        data: JSON.stringify(_dnRoutine),
                        method: this.method,
                        headers: {
                            'Content-Type': 'application/json;charset=UTF-8'
                        }
                    }
                    this.$http(config).then((res) => {

                        if (res.data.statusCode == 200) {
                            vue.showModal = false;
                            alert(res.data.message)
                            this.query()
                        } else {
                            alert(res.data.message)
                        }
                    }).catch(err => {

                        if (err == "Error: Network Error") {
                            location.reload();
                        } else {
                            alert('System Error');
                            console.log(err)
                        }
                    })
                },
                query() {
                    this.appendParams = {}
                    this.appendParams["startDate"] = this.startDate;
                    this.appendParams["endDate"] = this.endDate;
                    if (this.dn) this.appendParams["dn"] = this.dn;
                    if (this.dayOfWeek) this.appendParams["dayOfWeek"] = this.dayOfWeek;
                    if (this.holidayType) this.appendParams["holidayType"] = this.holidayType;
                    this.$nextTick(function () {
                        this.$refs.vuetable.refresh()
                    });
                },
                dayOfWeekChange(){
                    this.dnRoutine.startDate=""
                    this.dnRoutine.endDate=""
                    this.dnRoutine.dn=""
                    this.getHolidayTypes('peak')
                },
                dateChange(){
                     this.dnRoutine.dayOfWeek=""
                     this.getHolidayTypes('type')
                },
                getHolidayServiceTypes(){
                    let _url  = [[@{/holidayServiceType}]]
                    axios.get(_url)
                        .then(res=>{
                            this.holidayServiceTypes = res.data;
                            this.getDNS();
                            this.getHolidayTypes('type');
                            this.getQueryHolidayTypes()
                         })
                        .catch(err=>{
                               alert(err)
                         })
                },
                getDNS(){
                    this.dns = this.holidayServiceTypes.filter(d=>d.category=='service').map(d=> ( {value:d.value,name: d.value + "_" + d.name  })  );
                },
                getHolidayTypes(category){
                    this.holidayTypes = this.holidayServiceTypes.filter(d=>d.category==category).map(d=> ( {value:d.value,name:d.value + "_" + d.name  })  );
                },
                getQueryHolidayTypes(){
                 this.queryHolidayTypes = this.holidayServiceTypes.filter(d=>d.category=='peak' || d.category=='type').map(d=> ( {value:d.value,name: d.value + "_" + d.name  })  );
                }
            },
            mounted: function () {
                this.getHolidayServiceTypes();
                this.dayOfWeeks = [ {value :"MONDAY",name:"星期一"},{value :"TUESDAY",name:"星期二"},{value :"WEDNESDAY",name:"星期三"}
                                    ,{value :"THURSDAY",name:"星期四"},{value :"FRIDAY",name:"星期五"},{value :"SATURDAY",name:"星期六"}
                                    ,{value :"SUNDAY",name:"星期日"} ]
                this.url = `${this.baseUrl}/data`;
                this.query();

            }, updated() {

            }
        })
    </script>
</th:block>

</html>