<html xmlns:layout="http://www.w3.org/1999/xhtml">


<head>
    <head th:insert="~{fragments/head :: head}"></head>
    <title>評分細項編輯</title>
    <style>
        
        .item {
            cursor: pointer;
            font-family: Menlo, Consolas, monospace;
            color: #444;
        }

        .item div:hover {
            background-color: violet;
            opacity: .7;
        }

        .active {
            background-color: violet;
        }

        .bold {
            font-weight: bold;
        }

        ul {
            padding-left: 1em;
            line-height: 1.5em;
            list-style-type: none;
        }

    </style>
</head>
<body>


<div id="app" class="row">
    <modal v-if="showModal" @close="showModal = false">

        <form slot="body" class="form" @submit.prevent="save">
            <div class="form-group">
                <label for="account">顯示名稱</label>
                <input type="text" class="form-control" id="account" required v-model="qaDesignItem.name"
                       placeholder="Enter Name"/>

            </div>


            <div class="form-group">
                <label for="inputNumber">配分</label>
                <input type="number" class="form-control" id="inputNumber" min="0" v-model="qaDesignItem.score"/>
            </div>


            <div class="form-group">
                <label for="inputNumber">顯示順序</label>
                <input type="number" class="form-control" id="inputNumber" min="0" v-model="qaDesignItem.seq"/>
            </div>


            <div class="text-right">
                <button class="btn btn-primary">ok</button>
                <input type="button" class="btn btn-primary" @click="close" value="close"/>
            </div>


        </form>

    </modal>

    <div class="col-4">
        <ul>
            <tree-item class="item" :item="treeData" @item-click="itemClick"></tree-item>
        </ul>
    </div>


    <div class="col-8">


        <div class="w-50">
            <button class="btn btn-primary" @click="add">
                <i class="fa-solid fa-folder-plus"></i> 新增評估項目
            </button>

            <button class="btn btn-primary" @click="editRow(itemSelected)">
                <i class="fa-solid fa-edit"></i> 編輯評估項目
            </button>

            <button class="btn btn-secondary" @click="previousPage">
                <i class="fa fa-undo"></i> 返回
            </button>
        </div>

        <div class="pagination ui basic segment grid">
            <vuetable-pagination-info ref="paginationInfo"></vuetable-pagination-info>

            <vuetable-pagination ref="pagination"
                                 @vuetable-pagination:change-page="onChangePage"></vuetable-pagination>
        </div>

        <vuetable ref="vuetable" :api-url="url" :load-on-start="false" :fields="fields" :per-page="perPage"
                  :append-params="appendParams" :transform="transformData" @vuetable:load-success="loadSuccess"
                  :query-params="{  page: 'pageIndex',perPage:'pageSize',sort:'sort'}" :reactive-api-url="false"
                  track-by="id" data-path="data" pagination-path="pagination" :sort-order="sortOrder"
                  @vuetable:pagination-data="onPaginationData">

            <div slot="actions" slot-scope="props">

                <button class="btn btn-primary btn-sm" @click="editRow(props.rowData)" title="edit">
                    <i class="fas fa-edit">編輯評分項目</i>
                </button>

                <button class="btn btn-danger btn-sm" @click="deleteRow(props.rowData)" title="delete">
                    <i class="fa fa-trash">刪除評分項目</i>
                </button>
            </div>
        </vuetable>
    </div>


</div>
<th:block layout:fragment="script">

    <script type="text/x-template" id="item-template">
        <li>
            <div
                    :class="{bold: isFolder}"
                    class="tree"
                    @click="toggle">
                <i class="fa-solid fa-folder-plus" v-if="isFolder && !isOpen"></i>
                <i class="fa-solid fa-folder-minus" v-else-if="isFolder && isOpen"></i>
                <i class="fa-solid fa-book" v-else></i>
                {{ item.name }}

            </div>
            <ul v-show="isOpen" v-if="isFolder">
                <tree-item
                        class="item"
                        v-for="(child, index) in item.children"
                        :key="index"
                        :item="child"
                        @item-click="$emit('item-click', $event)"
                ></tree-item>
            </ul>
        </li>
    </script>

    <script th:inline="javascript">
        Vue.component("tree-item", {

            template: "#item-template",
            props: {
                item: Object
            },
            data: function () {
                return {
                    isOpen: false
                };
            },
            computed: {
                isFolder: function () {
                    return this.item.children && this.item.children.length ? true : false
                }
            },
            methods: {
                toggle: function (e) {
                    var target = e.target
                    console.log(target.tagName)
                    if(target.tagName == "I"){
                         if (this.isFolder) this.isOpen = !this.isOpen;
                    }else{
                        this.isOpen = true
                    }

                    var tree = document.querySelectorAll(".tree")
                    tree.forEach(t => {t.classList.remove('active');})
                    target.classList.add("active")
                    this.item["isFolder"] = this.isFolder
                    this.$emit('item-click', this.item)
                }
            }
        });
        const vue = new Vue({
            el: '#app',
            data: {
                qaTemplateId:null,
                qaDesignItem: {
                    id: null,
                    name: null,
                    parentId:null,
                    seq:null,
                    qaTemplateId:null,
                    score:null,
                },
                itemSelected: null,
                treeData: {},
                action: null,
                showModal: false,
                fields: [{ name: 'id', title: 'ID' }, { name: 'name', title: '名稱' },
                         { name: 'score', title :'配分'},
                         { name: 'seq', title: '順序' }, { "name": "actions", "title": "Actions" }],
                url: [[@{/qaDesignItem/data}]],
                sortOrder: [{ field: "Id", direction: "asc" }],
                treeMaxDepth: 0,  // 新增 maxDepth 來記錄最大深度
                maxTreeMaxDepth:3
            },
            methods: {
                openModal() {
                    this.showModal = true;
                }, close() {
                    this.showModal = false;
                },
                save() {
                    this.sendData()
                },
                add() {

                    if( this.itemSelected == null){
                        alert("請先點選要新增的類別")
                        return
                    }

                    this.action = "add"
                    this.qaDesignItem.id = "";
                    this.qaDesignItem.name = "";
                    this.qaDesignItem.parentId = this.itemSelected.id;
                    this.qaDesignItem.seq = 1;
                    this.qaDesignItem.score = 0;
                    this.openModal()
                },
                query() {
                    this.appendParams= {}
                    this.appendParams["qaTemplateId"] = this.itemSelected.qaTemplateId;
                    this.appendParams["parentId"] = this.itemSelected.id;
                    this.$nextTick(function(){
                        this.$refs.vuetable.refresh()
                    });
                    this.findTreeData();
                    this.calculateMaxDepth(this.treeData.children)
                },
                findTreeData() {
                    let urlParams = new URLSearchParams(window.location.search);
                    let qaTemplateId = urlParams.get('qaTemplateId');
                    let url = "qaDesignItem/" + qaTemplateId
                    axios.get(url).then(res => {
                        this.treeData = res.data[0]
                    }).catch(err => {
                        alert(err)
                    })
                    this.qaTemplateId = qaTemplateId
                    this.qaDesignItem.qaTemplateId =qaTemplateId
                },
                itemClick: function (item) {
                    this.itemSelected = item
                    this.query()
                },
                editRow(rowData) {
                    console.log(rowData)
                    if(rowData == null){
                        return
                    }
                    this.action = "upd"
                    this.qaDesignItem.id = rowData.id;
                    this.qaDesignItem.name = rowData.name;
                    this.qaDesignItem.seq = rowData.seq;
                    this.qaDesignItem.score = rowData.score
                    this.qaDesignItem.parentId = rowData.parentId;
                    this.openModal();

                },
                deleteRow(rowData) {
                    if(confirm('是否要刪除')){
                        this.action = "del"
                        this.qaDesignItem.id = rowData.id;
                        this.qaDesignItem.name = rowData.name;
                        this.qaDesignItem.seq = rowData.seq;
                        this.sendData()
                    }
                },
                previousPage() {
                    window.parent.document.getElementById('qaDesignItemDiv').style.display = "none"
                    window.parent.document.getElementById('qaDesignTemplateDiv').style.display = "block"
                },

                calculateMaxDepth(points, currentDepth = 1) {
                    points.forEach(point => {
                        point.currentDepth = currentDepth;
                        if (point.children && point.children.length > 0) {
                            this.calculateMaxDepth(point.children, currentDepth + 1);
                        }
                    });
                    this.treeMaxDepth = Math.max(this.treeMaxDepth, currentDepth);
                },
                isExceedMaxTreeMaxDepth(){
                    let _isExceedMaxTreeMaxDepth =false;
                    if(this.itemSelected.currentDepth >= this.maxTreeMaxDepth) _isExceedMaxTreeMaxDepth = true
                    return _isExceedMaxTreeMaxDepth;
                },
                sendData() {

                    const config = {
                        url: [[@{/qaDesignItem}]],
                        data: JSON.stringify(vue.qaDesignItem),
                            headers: {
                             'Content-Type': 'application/json;charset=UTF-8'
                        }
                     }

                   switch(this.action){
                        case "add":
                           config.method = 'post'
                           break;
                        case "del":
                            config.method = 'delete'
                            break;
                        case "upd":
                            config.method = 'put'
                            break;
                   }
                    if(this.action == "add" && this.isExceedMaxTreeMaxDepth()){
                           alert(`最多新增${this.maxTreeMaxDepth}層階級`)
                           return
                    }

                    this.$http(config).then((res) => {

                        if (res.data.statusCode == 200) {
                            vue.showModal = false;
                            alert(res.data.message)
                            this.query()
                        } else {
                            alert(res.data.message)
                        }
                    }).catch(err => {

                        if (err == "Error: Network Error") {
                            location.reload();
                        } else {
                            alert('System Error');
                            console.log(err)
                        }
                    })
               }
        }, mounted: function() {
            this.findTreeData()
            setTimeout(()=>{
                if(document.querySelector(".tree")) document.querySelector(".tree").click()
            },500)
        }

  })


    </script>


</th:block>

</body>

</html>