<html layout:decorate="~{fragments/layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>質檢清單</title>
</head>
<body>
<div layout:fragment="content" id="app">
<h1>Inspection Points</h1>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Inspection Points</th>
        </tr>
        </thead>
        <tbody>

        <tr is="inspection-point"
                v-for="(point, index) in inspectionPoints"
                :key="index"
                :point="point"
                :depth="1"
                >
        </tr>

        </tbody>
    </table>
</div>
</body>

<th:block layout:fragment="script">

    <script th:inline="javascript">
        Vue.component("inspection-point",{
              props: {
                point: {
                  type: Object,
                  required: true
                },
                depth:{
                  type: Number,
                  required: true
                },
              },
              methods: {
                // 計算節點的 rowspan (行數)
                getRowCount(point) {
                  if (!point.children || point.children.length === 0) {
                    return 1;
                  }
                  return point.children.reduce((sum, child) => sum + this.getRowCount(child), 0);
                }
                ,getColSpan(depth){
                  return this.maxDepth - depth ;
                }
              },
              template: `
                <tr>
                  <td >{{ point.name }}</td>
                  <template v-if="point.children && point.children.length > 0">
                    <inspection-point
                      v-for="(child, index) in point.children"
                      :key="index"
                      :point="child"
                      :depth="depth + 1"
                      >
                    </inspection-point>
                  </template>
                </tr>
              `
            })
        const vue = new Vue({
           el:'#app',
           data:{
             qaDesignTemplate:{
                  id:null,
                  name:null,
                  product:null,
             },
             action:null,
             showModal: false,
             fields:[{name:'id',title:'ID'},{name:'name',title:'名稱'},{name:'product',title:'產品名稱'},{ "name": "actions", "title": "Actions" }],
             url:[[@{/qaDesignTemplate/data}]],
             sortOrder : [{field:"Id",direction:"asc"}],
             inspectionPoints:[],
           },
           methods:{



           },mounted:function(){
                    let url = "qaDesignItem/" + 1
                    axios.get(url).then(res => {
                        this.inspectionPoints = res.data[0].children

                    }).catch(err => {
                        alert(err)
                    })
           }

        })


    </script>
</th:block>
</html>