<html layout:decorate="~{fragments/layout}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title layout:fragment="title">質檢清單</title>
    <style layout:fragment="style">
        td {
            text-align: center;
            vertical-align: middle !important;
        }

        th {
            text-align: center !important;
            vertical-align: middle !important;
        }
    </style>
</head>

<body>
<div layout:fragment="content" id="app">
    <h1>Inspection Points</h1>
    <button @click="click">Click</button>
    <table class="table table-bordered">
        <thead class="thead-light">
        <tr>
            <th :colSpan="treeMaxDepth">評分項目</th>
            <th>備註</th>
            <th>分數</th>
            <th>主管評分</th>
        </tr>
        </thead>
        <tbody>
        <tr is="inspection-point"
            v-for="(point, index) in inspectionPoints"
            :key="point.id"
            :point="point"
            :tree-max-depth="treeMaxDepth"
            :is-root="true"
            :depth="1">
        </tr>
        </tbody>
    </table>
</div>
</body>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        Vue.component("inspection-point", {
            props: {
                point: {
                    type: Object,
                    required: true
                },
                depth: {
                    type: Number,
                    required: true
                },
                isRoot:{
                    type: Boolean,
                    required: true
                },
                treeMaxDepth:{
                    type: Number,
                    required: true
                }
            },
            methods: {
                // 計算節點的 rowspan (行數)
                getRowCount(point) {
                    if (!point.children || point.children.length === 0) {
                        return 1;
                    }
                    return point.children.reduce((sum, child) => sum + this.getRowCount(child), 1);
                },
                // 計算 colspan
                getColSpan(depth) {
                    if(this.isRoot && this.isLeafNode){
                        return this.maxDepth
                    }
                    else if(this.isLeafNode){
                        // 計算 colSpan，+1 保證跨越所有剩餘列
                        return this.maxDepth - depth + 1;
                    }
                    else{
                        return 1
                    }
                }
            },
            computed: {
                isLeafNode() {
                    return !this.point.children || this.point.children.length === 0;
                },
                maxDepth(){
                   return this.treeMaxDepth;
                }
            },
            template: `
             <fragment>
                 <tr>
                    <td :rowSpan="getRowCount(point)" :colSpan="getColSpan(depth)">{{point.name}}</td>
                    <template v-if="point.children.length == 0">
                        <td ><textarea v-model="point.notes"/></td>
                        <td ><input type="number" min="0" v-model="point.score"/></td>
                        <td ><input type="number" min="0" v-model="point.supervisorScore"/></td>
                    </template>
                 </tr>
                  <tr is="inspection-point" v-if="point.children && point.children.length > 0"
                            v-for="(child, index) in point.children"
                            :key="child.id"
                            :point="child"
                            :is-root="false"
                            :tree-max-depth="treeMaxDepth"
                            :depth="depth + 1"
                  >
                 </tr>


             </fragment>
            `
        });
        
        const vue = new Vue({
            el: '#app',
            data: {
                qaDesignTemplate: {
                    id: null,
                    name: null,
                    product: null,
                },
                action: null,
                showModal: false,
                fields: [{ name: 'id', title: 'ID' }, { name: 'name', title: '名稱' }, { name: 'product', title: '產品名稱' }, { "name": "actions", "title": "Actions" }],
                url: [[@{/qaDesignTemplate/data}]],
                sortOrder: [{ field: "Id", direction: "asc" }],
                inspectionPoints: [],
                treeMaxDepth: 0,  // 新增 maxDepth 來記錄最大深度
            },
            methods: {
                // 計算樹狀結構的最大深度
                calculateMaxDepth(points, currentDepth = 1) {
                    points.forEach(point => {
                        if (point.children && point.children.length > 0) {
                            this.calculateMaxDepth(point.children, currentDepth + 1);
                        }else{

                           if(!point.hasOwnProperty("notes")){
                             point.notes= ""
                           }


                           if(!point.hasOwnProperty("supervisorScore")){
                             point.supervisorScore= ""
                           }

                           if(!point.hasOwnProperty("score")){
                             point.score = ""
                           }

                        }
                    });
                    this.treeMaxDepth = Math.max(this.treeMaxDepth, currentDepth);
                },
                click(){
                    console.log(this.inspectionPoints)
                }
            },
            mounted: function () {
                let url = "qaDesignItem/" + 1;
                axios.get(url).then(res => {
                    this.inspectionPoints = res.data[0].children;
                    // 計算最大深度
                    this.calculateMaxDepth(this.inspectionPoints);
                }).catch(err => {
                    alert(err);
                });
            }
        })
    </script>
</th:block>

</html>
