<html layout:decorate="~{fragments/layout}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title layout:fragment="title">質檢列表</title>
</head>

<body>
<div layout:fragment="content" id="app">
    <div style=" display: flex;align-items: center;justify-content: center;">
        <button @click="returnClick" class="btn btn-info">返回</button>
        <button @click="saveClick" class="btn btn-primary">儲存</button>
    </div>
        <div style=" display: flex;align-items: center;justify-content: center;">
            <h1>{{title}}</h1>
        </div>
    <div style=" display: flex;align-items: center;justify-content: center;">
            <table class="table table-bordered">
                <thead class="thead-light">
                <tr>
                    <th :colSpan="treeMaxDepth">評分項目</th>
                    <th>配分</th>
                    <th>評語</th>
                    <th>初評分數</th>
                    <th>評語</th>
                    <th>複評分數</th>
                </tr>
                </thead>
                <tbody>
                <tr is="inspection-point" v-for="(point, index) in inspectionPoints" :key="point.id"
                    :point="point" :tree-max-depth="treeMaxDepth" :is-root="true" :depth="1">
                </tr>
                </tbody>
            </table>
        </div>



</div>
</body>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        Vue.component("inspection-point", {
            props: {
                point: {
                    type: Object,
                    required: true
                },
                depth: {
                    type: Number,
                    required: true
                },
                isRoot: {
                    type: Boolean,
                    required: true
                },
                treeMaxDepth: {
                    type: Number,
                    required: true
                }
            },
            methods: {
                // 計算節點的 rowspan (行數)
                getRowCount(point) {
                    if (!point.children || point.children.length === 0) {
                        return 1;
                    }
                    return point.children.reduce((sum, child) => sum + this.getRowCount(child), 1);
                },
                // 計算 colspan
                getColSpan(depth) {
                    if (this.isRoot && this.isLeafNode) {
                        return this.maxDepth
                    }
                    else if (this.isLeafNode) {
                        // 計算 colSpan，+1 保證跨越所有剩餘列
                        return this.maxDepth - depth + 1;
                    }
                    else {
                        return 1
                    }
                }
            },
            computed: {
                isLeafNode() {
                    return !this.point.children || this.point.children.length === 0;
                },
                maxDepth() {
                    return this.treeMaxDepth;
                }
            },
            template: `
             <fragment>
                 <tr>
                    <td :rowSpan="getRowCount(point)" :colSpan="getColSpan(depth)">{{point.name}}</td>
                    <template v-if="point.children.length == 0">
                        <td >{{point.defaultScore}}</td>
                        <td ><textarea v-model="point.notes" disabled class="user"/></td>
                        <td ><input type="number" min="0" v-model="point.score" disabled class="user"/></td>
                        <td ><textarea v-model="point.supervisorNotes" disabled class="manager"/></td>
                        <td ><input type="number" min="0" v-model="point.supervisorScore" disabled class="manager"/></td>
                    </template>
                 </tr>
                  <tr is="inspection-point" v-if="point.children && point.children.length > 0"
                            v-for="(child, index) in point.children"
                            :key="child.id"
                            :point="child"
                            :is-root="false"
                            :tree-max-depth="treeMaxDepth"
                            :depth="depth + 1"
                  >
                 </tr>


             </fragment>
            `
        });

        const vue = new Vue({
            el: '#app',
            data: {
                templateId: null,
                jobId: null,
                url: [[@{/qaInspection}]],
            title: "",
            inspectionPoints: [],
            treeMaxDepth: 0,  // 新增 maxDepth 來記錄最大深度
        },
            methods: {
            // 計算樹狀結構的最大深度
            calculateMaxDepth(points, currentDepth = 1) {
                points.forEach(point => {
                    if (point.children && point.children.length > 0) {
                        this.calculateMaxDepth(point.children, currentDepth + 1);
                    }
                });
                this.treeMaxDepth = Math.max(this.treeMaxDepth, currentDepth);
            },
            saveClick() {
                const config = {
                    url: this.url,
                    method: "post",
                    data: JSON.stringify(this.inspectionPoints),
                    headers: {
                        'Content-Type': 'application/json;charset=UTF-8'
                    }
                }

                this.$http(config).then(res => {
                    if (res.data == "ok") {
                        alert('儲存資料成功')
                        location.reload()
                    }
                }).catch(err => {
                    alert(err)
                })
            },
            returnClick() {
                location.href=[[@{/qaTaskJob}]]
            }
        },
            mounted: function () {

                let paramsString = window.location.search;
                let searchParams = new URLSearchParams(paramsString);


                this.jobId = searchParams.get("jobId");
                this.templateId = searchParams.get("templateId")

                let url = `${this.url}/${this.jobId}?templateId=${this.templateId}`;
                axios.get(url).then(res => {
                    this.title = res.data[0].name
                    this.inspectionPoints = res.data[0].children;
                    // 計算最大深度
                    this.calculateMaxDepth(this.inspectionPoints);

                }).catch(err => {
                    if (err.response) {
                        alert(err.response.data.message)
                    } else {
                        alert(err);
                    }
                });
            }, updated(){
                    if(this.isManager) document.querySelectorAll(".manager").forEach(item => { console.log(item); item.disabled = false });
                    if (this.isUser) document.querySelectorAll(".user").forEach(item => item.disabled = false);
            }
        })
    </script>
</th:block>

</html>