<html layout:decorate="~{fragments/layout}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title layout:fragment="title">質檢清單</title>
    <style layout:fragment="style">
        td {
            text-align: center;
            vertical-align: middle !important;
        }

        th {
            text-align: center !important;
            vertical-align: middle !important;
        }
    </style>
</head>

<body>
<div layout:fragment="content" id="app">
    <div ref="mainDiv">


        <form @submit.prevent="query">

            <div class="form-row col-6">
                <div class="form-group col-md-6">
                    <label for="startDate">開始日期</label>
                    <input type="date" class="form-control" id="startDate" v-model="startDate" required="required">
                </div>
                <div class="form-group col-md-6">
                    <label for="endDate">結束日期</label>
                    <input type="date" class="form-control" id="endDate" v-model="endDate" required="required">
                </div>
            </div>

            <div class="form-row col-6">
                <button type="submit" class="btn btn-primary mb-2">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    {{queryValue}}
                </button>
            </div>
        </form>

        <div class="pagination ui basic segment grid">
            <vuetable-pagination-info ref="paginationInfo"></vuetable-pagination-info>

            <vuetable-pagination ref="pagination"
                                 @vuetable-pagination:change-page="onChangePage"></vuetable-pagination>
        </div>

        <vuetable ref="vuetable" :api-url="url" :load-on-start="false" :fields="fields" :per-page="perPage"
                  :append-params="appendParams" :transform="transformData" @vuetable:load-success="loadSuccess"
                  :query-params="{  page: 'pageIndex',perPage:'pageSize',sort:'sort'}" :reactive-api-url="false"
                  track-by="call_id" data-path="data" pagination-path="pagination" :sort-order="sortOrder"
                  @vuetable:pagination-data="onPaginationData">

            <div slot="actions" slot-scope="props">

                <button class="btn btn-primary btn-sm" @click="editRow(props.rowData)" title="edit">
                    <i class="fas fa-edit">編輯</i>
                </button>
            </div>
        </vuetable>
    </div>

</div>
</body>

<th:block layout:fragment="script">
    <script th:inline="javascript">

        const vue = new Vue({
            el: '#app',
            data: {
                templateId: null,
                jobId: null,
                action: null,
                showModal: false,
                fields: [{ name: 'call_id', title: 'ID' }, { name: 'call_start_time', title: '開始時間' }, { name: 'call_stop_time', title: '結束時間' },
                { name: 'call_agent_id', title: '專員ID' }, { name: 'call_ext_no', title: '分機' }, { name: 'qa_time', title: '質檢時間' },
                 {name :'status' , title:'質檢狀態',formatter(value){
                                                        let _status = "未質檢";
                                                        if(value =="1") _status = '已質檢'
                                                        return _status;
                                                   }
                 },
                { name: 'product_name', title: '產品名稱' }, { "name": "actions", "title": "Actions" }
                ],
                sortOrder: [{ field: "call_id", direction: "asc" }],
                baseUrl: [[@{/qaTaskJob}]],
            url: null,
            title: "",
            queryValue: "查詢",
            startDate: null,
            endDate: null
        },
            methods: {
            query() {
                this.appendParams = {}
                if (this.startDate) this.appendParams["startDate"] = this.startDate;
                if (this.endDate) this.appendParams["endDate"] = this.endDate;
                this.$nextTick(function () {
                    this.$refs.vuetable.refresh()
                });
            },
            editRow(rowData) {
                console.log(rowData)
                const params = new URLSearchParams();
                params.append("jobId", rowData.id);
                params.append("templateId", rowData.product_name);
                //document.getElementById("iframe").src = "qaInspection?" + params.toString();
                location.href = `qaInspection?` + params.toString();
            }
        },
            mounted: function () {
                var d = new Date()
                this.endDate = moment(d).format('YYYY-MM-DD')
                d.setDate(d.getDate() - 1);
                this.startDate = moment(d).format('YYYY-MM-DD')
                this.startDate = "2022-04-19"
                this.endDate = "2022-04-19"

                this.url = this.baseUrl + "/data"
                this.query();
            }, updated(){
        }
        })
    </script>
</th:block>

</html>